.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  transition: background-color .5s;
}

h1 {
  text-align: left;
  font-family: 'Tangerine', cursive;
  font-size: 70px;
  z-index: 0;
}

#intro {
  position: relative;
  width: 350px;
  text-align: left;
  right: 180px;
  font-size: 20px;
}

.subjects {
  position: relative;
  font-family: 'Neuton', serif;
  width: 350px;
  left: 180px;
  bottom: 168px;
}

.authors, .conclusion {
  display: inline;
  font-family: 'Neuton', serif;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  font-family: 'Neuton', serif;
  text-shadow: 2px 2px 2px lightblue;
}

.conclusion, .names {
  text-shadow: 2px 2px 2px lightblue;
}

.names {
  font-family: 'Tangerine', cursive;
  font-size: 55px;
}

#mainContainer {
  transition: margin-left .5s;
}

#mySidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 0;
  background-color: #f1f1f1;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
}

#mySidenav a {
  display: block;
  color: #000;
  padding: 40px 16px;
  text-decoration: none;
}

#mySidenav a.active {
  background-color: #4CAF50;
  color: white;
}

#mySidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#mySidenav .closebtn {
  /*position: absolute;
  top: 0;
  right: 25px;*/
  display: block;
  font-size: 36px;
  /*margin-left: 50px;*/
  clear: both;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
}

body {
    color: #0C1F31;
    background: #fff;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.wrapper {
    width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 120px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 120px;
}

p {
    width: 900px;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
    line-height: 35px
}

img {
  width: 300px;
}

.pics {
  box-shadow: 10px 20px 30px lightblue;
}

.down-arrow {
    font-size: 120px;
    margin-top: 90px;
    margin-bottom: 90px;
    text-shadow: 0px -20px #0C1F31, 0px 0px #C33329;
    color: rgba(0,0,0,0);

    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    transform: scaleY(0.8);
}

.footer {
    box-sizing: border-box;
    padding-top: 190px;
    height: 300px;
}

.elevator {
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: auto;
}

.elevator:hover {
    opacity: 0.7;
}

.elevator svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.github-link {
    position: fixed;
    top: 0px;
    right: 0px;
}

.links {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.links p, iframe {
    
}

iframe {
    margin-bottom: -3px;
}

.links p {
    text-decoration: none;
    color: #0C1F31;
}

/***** Animation books *****/

* {
  box-sizing: border-box;
}

h1:after {
  position: absolute;
  content: "";
  -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
  animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}

.loader {
  margin: .5% auto;
}

.book {
  border: 2px solid #FFFFFF;
  width: 60px;
  height: 45px;
  position: relative;
  perspective: 150px;
}

.page {
  display: block;
  width: 30px;
  height: 45px;
  border: 2px solid #44FFFF;
  border-left: 1px solid #e9e6c4;
  margin: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  overflow: hidden;
  background: #e9e6c0;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.book:hover .page:nth-child(1) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
}

.book:hover .page:nth-child(2) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
}

.book:hover .page:nth-child(3) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
}


/* Page turn */

@-webkit-keyframes pageTurn {
  0% {
    -webkit-transform: rotateY( 0deg);
    transform: rotateY( 0deg);
  }
  20% {
    background: #e9e6b7;
  }
  40% {
    background: brown;
    -webkit-transform: rotateY( -180deg);
    transform: rotateY( -180deg);
  }
  100% {
    background: brown;
    -webkit-transform: rotateY( -180deg);
    transform: rotateY( -180deg);
  }
}

@keyframes pageTurn {
  0% {
    transform: rotateY( 0deg);
  }
  20% {
    background: #4b1e77;
  }
  40% {
    background: brown;
    transform: rotateY( -180deg);
  }
  100% {
    background: brown;
    transform: rotateY( -180deg);
  }
}

/**************Book animation 2 ********************/
.book2 {
  position: absolute;
  top: 0px;
  bottom: 200px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 46.5rem;
  height: 18.5rem;
  perspective: 70rem;
  z-index: -1;
}
.cover {
  background-color: #36354e;
  transform: rotateY(0deg);
  width: 9.25rem;
  height: 12.5rem;
}
.page2 {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 23rem;
  height: 30.66rem;
  text-align: right;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}
.page2::before, .page2::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}
.cover, .page2 {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page2.turn {
  animation: bookOpen 3s forwards;
}
.page2:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page2:nth-of-type(2) {
  animation-delay: 0.33s
}
.page2:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page2:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page2:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page2:nth-of-type(6) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
}


/* Dots */

@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

